/* base.css */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #11153D;
    --vt-c-black-soft: #292654;
    --vt-c-black-mute: #292654;

    --vt-c-indigo: #AC75D2;
    --vt-c-divider-dark-1: #4B4691;
    --vt-c-divider-dark-2: #4B4691;

    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: #eeeeee;

    --vt-c-accent: #47B4B9;
    --vt-c-green: #ABD581;
    --vt-c-green-darker: #9dc772;
    --vt-c-yellow: #FFA968;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--vt-c-text-dark-2);
    background: var(--vt-c-black);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}