/* main.css */
#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

header {
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--vt-c-divider-dark-2);
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--vt-c-text-dark-1);
}

a,
.green {
    text-decoration: none;
    color: var(--vt-c-green);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

button {
    padding: 10px 18px;
    background-color: var(--vt-c-green);
    color: var(--vt-c-black-soft);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--vt-c-green-darker);
}